.container {
  padding: 5vw 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gifWrapper {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.searchInput {
  border: 0.1rem solid var(--reactive-blue);
  border-radius: 1rem;
  padding: 2.5rem;
  background-color: var(--white);
  font-size: 2rem;
  width: 50vw;
  height: 2vh;
}

.gifDisplayWrapper {
  display: flex;
  flex-direction: row;
}

.gifImg {
  height: 50vh;
  width: 50vh;
}

.gifInfo {
  padding: 2rem;
}
