.root {
  height: 10vh;
  background-color: var(--white);
}

.avatarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.logo {
  height: 5vh;
}
